<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>349395848038-icrhuqm93kje8p3136d18j6adj5b1rta.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.349395848038-icrhuqm93kje8p3136d18j6adj5b1rta</string>
	<key>API_KEY</key>
	<string>AIzaSyA_c2XK-O0zty0IqbyhAZRjIkzF1yVX5gU</string>
	<key>GCM_SENDER_ID</key>
	<string>349395848038</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>SwiftTest.ToDoSwift</string>
	<key>PROJECT_ID</key>
	<string>todoswift-933ef</string>
	<key>STORAGE_BUCKET</key>
	<string>todoswift-933ef.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:349395848038:ios:1ecc73dd0a7ff46d5896a7</string>
</dict>
</plist>